<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= documentTitle  %></title>
  <link rel="stylesheet" href="/css/style.css" >
</head>
<body>
  <%- include('../includes/header') %>
  
  <h2>Hello <%= name %></h1>
  <p>How is your <%= day %> going?</p>

  <h3>Here is the list of schedules</h2>
  <% for (let i = 0; i < schedules.length; i++) { %>
    <div class="flex">
      <p><strong>First name:</strong> <%=schedules[i].id%></p>
      <p><strong>Last name:</strong> <%=schedules[i].user_id%></p>
      <p><strong>Email:</strong> <%=schedules[i].day%></p>
    </div>
  <% } %>
  
  
</body>
</html>