extends ../layout  

block content
  h2 Welcome #{users.firstname}
  p Here are your schedules
  table
    tr
      td User ID 
      td Day
      td Start At 
      td End At
    each schedule, i in schedules
      tr
        td= schedule.user_id
        td= schedule.day
        td= schedule.start_at 
        td= schedule.end_at